// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #d14499 !default;
$header-bg-color-secondary: #6419cb !default;

// Text
$section-headings-color: #c3282f !default;
$body-text-color: #00000024 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #0c4760 !default;

// Code
$code-bg-color: #1752a0 !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #1d5e9e !default;
$table-border-color: #104762 !default;
$hr-border-color: #0a3f74 !default;
